
/* MOBILE LAYOUT */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    margin: 0 auto;
    box-sizing: inherit;
}

body{
    box-sizing: border-box;
    width: auto;
    font-family: 'Oswald', sans-serif;
    background-color: #eed4b4;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding:50px;
}

nav{
    background-color: #efbe84;
    position: fixed;
    top: 0;
    width: 100%;
}

.head-ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    
}

.head-ul li {
    text-align: center;
    flex: 3;
    margin: 0;
    padding: 0;
    font-size: 15px;
    box-shadow: inset 0 0 0 0 rgb(128, 178, 112);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.head-ul a {
    color: black;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 20px 5px;
    display: inline-block;
    text-align: center;
    transition: all 0.5s;
}

.head-ul a:hover{
    box-shadow: inset 1000px 0 0 0  rgb(128, 178, 112);
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
    padding-top: 10%;
    flex-direction: row;
    background-color: #eed4b4;

}

.picture {
display: inline-block;
margin: 40px 50px;
padding-top: 30px;

}


.intro {
    align-items: center;
    text-align: center;
    margin: 40px 50px;

}

.footer {
    background: #dfa35a;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.main-ul-footer {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-direction: row;

}

.main-ul-footer a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    
}

/* DESKTOP LAYOUT */
@media screen and (max-width: 900px) {

    .head-ul {
        flex-wrap: wrap;

    }  

    .head-ul li {
        flex: 1 1 50%;
    }

    .main {
        flex-direction: column;
    }


}

/* TABLET LAYOUT */
@media screen and (max-width:700px ) {

    .head-ul li {
        flex: 1 1 100%;
    }
}
